log_level = "INFO"
dry_run = false

sonic_versions = ["201911", "202205"]

inventory_url = "https://someapi/inventory"
inventory_filter = '.devices[] | select(.os|ascii_downcase == "sonic").host_name'
# or, manually:
# devices = ["sonicdevice1.lan"]

username = "admin"
password = "YourPaSsWoRd"

dns_resolvers = ["dns.lan"]
resolve_dns_resolvers_hostname = true
# or, with the IP address
dns_resolvers = ["192.0.2.1"]

minion_config_file = "./minion.yml"  # this is the default values
minion_files_local_directory = "/var/salt/pex/"